@charset "utf-8";


#imgppal {
    width: 40%;
    margin: auto;
    height: auto;
    display: block;
}

.botones {
	width: 70%;
	height: auto;
	
}
footer {
	background: black;
	color: aliceblue;
	font-size: 0.8em;
	font-weight: bolder;
	text-align: center;
}